{% extends 'layouts/auth.html.twig' %}

{% block title %}
    Connexion !
            
        
    
{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form method="post">
        <div class="card mb-0">
            <div class="card-body">
                <a href="javascript:void(0);" class="brand-logo">
                    <h2 class="brand-text text-primary ml-1">
                        SAFER
                                                            
                                        
                    </h2>
                </a>

                <h4 class="card-title mb-1">
                    Bienvenue !
                                                
                                
                </h4>
                <p class="card-text mb-2">
                    Veuillez vous connecter
                                                
                                
                </p>

                <form class="auth-login-form mt-2" action="index.html" method="POST">
                    <div class="form-group">
                        <label for="login-email" class="form-label">
                            Email
                                                                        
                                                
                        </label>
                        <input type="email" {{ last_username }} class="form-control" id="login-email" name="email" placeholder="john@example.com" aria-describedby="login-email" tabindex="1" autofocus />
                    </div>

                    <div class="form-group">
                        <div class="d-flex justify-content-between">
                            <label for="login-password">
                                Mot de passe
                                                                                    
                                                        
                            </label>
                            <a href="{{path('app_forgot_password_request')}}">
                                <small>
                                    Mot de passe oublié ?
                                                                                                
                                                                
                                </small>
                            </a>
                        </div>
                        <div class="input-group input-group-merge form-password-toggle">
                            <input type="password" class="form-control form-control-merge" id="login-password" name="password" tabindex="2" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="login-password" />
                            <div class="input-group-append">
                                <span class="input-group-text cursor-pointer">
                                    <i data-feather="eye"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="_remember-me" tabindex="3" />
                            <label class="custom-control-label" for="remember-me">
                                Se souvenir de moi
                                                                                    
                                                        
                            </label>
                        </div>
                    </div>

                    <button class="btn btn-primary btn-block" tabindex="4">
                        Connexion
                                                            
                                        
                    </button>
                </form>

            </div>
        </div>
    </form>
{% endblock %}
