{% extends 'layouts/dashboard.html.twig' %}

{% block title %}
    Edit Property
    
{% endblock %}

{% block body %}
    <h3>
        Modifier un utilisateur
            
    </h3>
    <div class="content-header row mb-2">
        <div class="">
            <a href="{{ path('app_user_index') }}" class="btn btn-sm btn-light mb-1">
                Retour                       
                            
            </a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">

            {{ include('views/user/_form.html.twig', {'button_label': 'Modifier'}) }}

        </div>
    </div>

    {# {{ include('views/user/_delete_form.html.twig') }} #}
{% endblock %}
