<container>
    {# Header #}
    <hr>
        <spacer size="20"></spacer>
        <row>
            <columns>
                <p>
                    Bonjour
                                                        
                                    
                </p>
            </columns>
        </row>
        <row>
            <columns>
                <table>
                    <tr>
                        <th>
                            #
                                                                                
                                                    
                        </th>
                        <th>
                            Titre
                                                                                
                                                    
                        </th>
                        <th>
                            Prix                       
                                                    
                        </th>
                    </tr>
                    <tr>
                        <td>
                            1
                                                                                
                                                    
                        </td>
                        <td>
                            Article Title
                                                                                
                                                    
                        </td>
                        <td>
                            99
                                                                                
                                                    
                        </td>
                    </tr>
                </table>
            </columns>
        </row>
    {# Footer #}
    </container>
    