<form method="post" action="{{ path('app_property_delete', {'id': property.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer cet élement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
